<h1>Magazine</h1>
<p>An example Rails application that uses the Sprockets::Imagemin plugin to automatically optimize images.</p>

<%= image_tag 'unsplash/photo-1453668069544-b8dbea7a0477.jpg' %>
<%= image_tag 'unsplash/photo-1460804198264-011ca89eaa43.jpg' %>
<%= image_tag 'unsplash/photo-1464013778555-8e723c2f01f8.jpg' %>

<p>Photos taken from <%= link_to 'Unsplash', 'http://unsplash.com' %>.</p>
